<div id="experience">
    <h3>My Experience</h3>
        <div class="p-block">
            <ul>
                <li>
                    <h4>Student Developer in University of Cincinnati’s Office of Research (May 2016 -Present)</h4>
                    <p>
                        Designed, implemented, presented, and maintained severalprojectsworking alone, 
                        as well as working as part of a team with larger projectsand assisting with day-to-day tech support issues.
                    </p>
                    <ul>
                        <li>
                            <p>
                                Designed, implemented, and maintained the integration of SPIN into the Office of Research’s 
                                Limited Submission process by developing a website using nodejs, express, and MySql. Specifically, I:
                            </p>
                            <ul>
                                <li>Stood up and managed production serveranda MySql database</li>
                                <li>Suggested and implemented processes to ensure a better quality of service to the users </li>
                            </ul>
                        </li>
                        <li>
                            Worked as part of a teamof 10 people to develop the Office of Research’s redesigned websites, utilizing Sitefinity, razor templates, JQuery, and C# Mvc
                        </li>
                        <li>
                            Explored and researched viability of Trumba, a calender service, and Amazon Web Services for use withinthe Office of Research.
                        </li>
                        <li>
                            Designed, implemented, and maintained Office of Research DocuSign implementation, including: 
                            <ul>
                                <li>a proof of concept utilizing DocuSign’s API to create, send, receive,and parse DocuSign envelopes</li>
                                <li>Training users on the system</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>Frisch’s Big Boy Crew Member(August 2014–November 2016)</h4>
                    <p>Helped maintain excellent level of customer service.</p>
                </li>
            </ul>
        </div>
</div>