<div id="about-me">
    <div class="row">
    <div class="portrait-box col-sm-3"><img class="portrait" src="portrait.png" alt="Super Professional Picture of Andrew"></div>

    <div id="hero-textbox" class="col-sm-9">
        <h2>Hello I'm Andrew!</h2>
        <div class="p-block">
            <p>
                I'm a third year computer science student at the University of Cincinnati. I am currently working in UC's Office of Research
                as a Student Developer, and have worked on a variety of projects there. 
            </p>
            <p>
                I am currently focused on learning more about DevOps and cloud computing, but I am also a capable web developer.
                <a href="#my-skills" class="internal-link">See more about my skills here.</a> My goal is to find a position doing 
                DevOps because I find the roles of a developer and a system administrator equally attractive and would love to be 
                able to combine them.
            </p>
        </div>
    </div>
    </div>
</div>