<div id="project-showcase">
    <h2>My Projects</h2>
    <div class = "project-container">
        <div class="project">
            <p>
            <strong>Research UC</strong>
            <p>I created the backend and the razor templates for the events module, designing such that it could take data from one of two sources, Trumba and Sitefinity using different functions.</p>
            <a href="http://research.uc.edu/">Go to finished site</a>
            </p>
        </div>
        <div class="project"><p>
            <strong>Andrew-Aldrich.me</strong>
            <p>This website</p>
            <a href="https://github.com/aldricaj/andrew-aldrich">Git Repo</a>
            </p>
        </div>
        <div class="project">
            <p>
            <strong>Research How 2</strong>
            <p>
                I created the pinned functionality using JQuery and Sitefinity's libraries, as well as making the popular items widget utilizing Google Analytics' API with Sitefinity's libraries.
            </p>
            <a href="http://researchhow2.uc.edu/">Go to finished site</a></p>
        </div>
        <div class="project">
            <p>
            <strong>ScenTek</strong>
            <p>A game engine built using Java with a GL sdk.</p>
            <a href="https://github.com/aldricaj/ScenTek">Git Repo</a></p>
        </div>
    </div>
</div>