<div id="#my-skills">
    <h2>My Skillset</h2>
    <p class="tagline">
        If you've seen this site then you know that I am neither photo-genic nor good at picking color schemes. So what am I good at?
    </p>
    <div class="p-block">
            <ul>
                <li>
                    <h4>Web Development</h4>
                    <ul>
                        <li>Proficient with JQuery,HTML, express web framework, and Sitefinity Content Management System</li>
                        <li>Familiar with CSS, Bootstrap, .Net Mvc, and writing accessible HTML</li>
                        <li>Basic knowledge of Angular2 and Django</li>
                    </ul>
                </li>
                <li>
                    <h4>Database Administration</h4>
                    <ul>
                        <li>Familiar with administering and designing MySQL Databasees</li>
                        <li>Basic knowledge of Oracle RDMS, MongoDB,and PostgreSQL</li>
                    </ul>
                </li>
                <li>
                    <h4>General Purpose Programming Languages</h4>
                    <ul>
                        <li>Proficient with Java, Javascript (nodejs), Python, and SQL</li>
                        <li>Familiar with C++, C#, and TypeScript</li>
                        <li>Basic Knowledge of Bash, Matlab, Visual Basic, Powershell, and Haskell</li>
                    </ul>
                </li>
                <li>
                   
                        <h4>Systems Administration</h4>
                        <ul>
                            <li>Proficient with Linux (Ubuntu, Fedora, and ArchLinux)</li>
                            <li>Familiar with samba, Docker, CentOS linux, networking concepts, Amazon Web Services and Linux server administration</li>
                            <li>Basic Knowledge of Active Directory, Windows Server 2016, and Jenkins</li>
                        </ul>
                </li>
                <li>
                        <h4>Miscellaneous Skills</h4>
                        <ul>
                            <li>Proficient with git, and DocuSign (both API and online client)</li>
                            <li>Familiar with Mocha, Microsoft Excel Macros, and Microsoft Access</li>
                            <li>Basic knowledge about Google Analytics and Google API</li>
                        </ul>
                </li>
            </ul>
    </div>
</div>