<div id="#my-skills">
    <h2>My Skillset</h2>
    <p class="tagline">
        If you've seen this site then you know that I am neither photo-genic nor good at picking color schemes. So what am I good at?
    </p>
    <div class="p-block">
        <ol>
            <p>Web Development</p>
            <li>I have worked as part of a team to devlop a number of web projects for UC's Office of Research using Sitefinity, Express, and Java Spark</li>
            <li>I created this wonderfully designed website from scratch... okay, might be a stretch (but hey at least it shows I know html/css!)</li>
            <li>I've used Javascript and JQuery as part of larger projects (more on these projects I keep mentioning later)</li>
            <li>Familiar with developing applications with multiple database systems including (in order of confidence): <ol>
                    <li>MySQL</li>
                    <li>PostGreSQL</li>
                    <li>MongoDB</li>
                </ol></li>
        </ol>
        <ol>
            <p></p>
        </ol>
    </div>
</div>