<div id="recast">
    <section id="intro">
        <h1>An Introduction into the Programming Discourse Community</h1>
        <p>
            I've been a programmer since I was 15 years old and programming and its community have filtered into 
            nearly every part of my life. I work as a programmer, my major is focused on learning to program, 
            most of my friends are programmers, and I help family members who want to learn programming. Over the last
            3 months, I've looked at the community in the lens of it being a Discourse Community.
        </p>
        <p>This is what I've found.</p>
    </section>
    
    <section id="definition">
        <h2>What is a Discourse Community and How does it Apply to Programmers?</h2>
        <p>
            A discourse community is a group of people who communicate through written or other mediums to reach a common goal. 
            They must also share a unique lexis and use it to communicate.
        </p>
        <div id="intro-to-swales">
            <h3>Why can Programmers Classified as a Discourse Community?</h3>
            <p>
                Programmers can be classified as a discourse community because they meet the 6 characterstics(here 3 are combined as method of communication and genre)
                as laid out by John Swales in his book "The Concept of a Discourse Community":
            </p>       
            <ol id="swales-char">
                <li>
                    <h4>A Set of Agreed Upon Goals and Values</h4>
                    <p>
                        The programming discourse community itself exists, as a friend and classmate said, "to solve problems and to help others solve theirs." (Shearer)
                        This creates a community centered on learning and the utilization of solutions other members of the community through open-source software. These
                        will be eloborated on <a href="#how-prog-achieve">later.</a>
                    </p>
                </li>
                <li>
                    <h4>A Method of Communication and Common Genres</h4>
                    <p>
                        Programmers communicate through many means in order to further their goals. Primarily through the internet using the following genres/methods:
                        <ul>
                            <li>Forums like <a href="https://stackoverflow.com/">StackOverflow</a></li>
                            <li>Blogs like <a href="https://blog.codinghorror.com/">Coding Horror</a></li>
                            <li>Videos like those by <a href="https://www.youtube.com/channel/UCwRXb5dUK4cvsHbx-rGzSgw">Derek Banas</a></li>
                            <li>Podcasts like <a href="https://www.youtube.com/watch?v=0bGXkraCXBs&list=PLCB9545FD2C26E547">Coder Radio</a></li>
                            <li>And many others</li>
                        </ul>
                        
                    </p>
                    <p>
                        In each of the above there exists many cases where the intended use of the resource is to inform other programmers. For example, StackOverflow. 
                        Another example, is Derek Banas' videos which are tutorials videos aimed at beginners.
                    </p>
                </li>
                <li>
                    <h4>Common Lexis (How programmers talk to each other)</h4>
                    <p>
                        Surfing through my work's slack channel I can find many examples of programmers using a specific lexis. For Example:
                        <ul>
                            <li>"Can you rubber duck for me?" which in laymen's means "Are you available to help me talk through a problem." Much shorter, eh?</li>
                            <li>"Should I use a hash table or a use a list?" which is the start of a long debate over what data structure to use for something (we wound up making a hybrid)</li>
                            <li>
                                "Why tf is [redacted] telling me to use a Repo. It's a classic case for a factory we ain't doing any CUD, just R." was a complaint about another team members
                                wanting to use a design pattern designed to do CRUD operations 
                                (standing for "<strong>C</strong>reating recorcds, <strong>R</strong>etrieving records, <strong>U</strong>pdating records, and <strong>D</strong>eleting records") 
                                instead of using a factory, which is designed to output instances of a class based on an input.
                            </li>
                        </ul>
                    </p>
                </li>
                <li>
                    <h4>Mixture of Experienced and Inexperienced Members</h4>
                    <p>
                        As evidenced by the <a href="https://insights.stackoverflow.com/survey/2017#experience" target="_blank">2017 StackOverflow Developer Survey</a> the community is 
                        biased towards more experienced members.
                    </p>
                </li>
            </ol>
        </div>
    </section>

    <section id="how-prog-achieve">
        <h2>How programmers acheive their goals</h2>
        <div id="how-prog-teach">
            <h3>How do Programmers Help Each Other Improve?</h3>
            <p>
                The programming community uses a variety of means to help each other improve.
            </p>
            <p>
                One common method is tutorials, like the ones Derek Banas produce. For example: <br/>
                <iframe style="margin:1% 5%;text-align:center;" width="560" height="315" src="https://www.youtube.com/embed/N4mEzFDjqtA" frameborder="0" allowfullscreen></iframe>
                <br/>
                This tutorial is targeted at beginners. This is seen by Derek not assuming knowledge as well as the calm tone and the slower pace of this video.
            </p>
            <p>
                Another common method of helping other programmers is through blog posts such as <a href="http://blogs.tedneward.com/post/the-vietnam-of-computer-science/">this one</a> 
                by Ted Neward. In this post, Ted discusses his thoughts on <a href="https://en.wikipedia.org/wiki/Object-relational_mapping" target"_blank">ORM</a> and the drawbacks he
                percieves with it. He does this expecting that the reader has some pre-existing knowledge of databases and programming in general in order to understand his points. He lists 
                solutions to the problem that he percieves with ORM.
            </p>
        </div>
    </section>
    <section id="works-cited">
        <a href="javascript:void(0);" onclick="$('#cited').show()"><h2>Works Cited <span class='note' style="font-size:10pt;">(Click to Expand)</span></h2> </a>
        <div id="cited" style="display:none">
            <ul style="list-style: none">
                <li>Evan Shearer. “Classmate Interview.” 30 Oct. 2017.</li>
                <li>Neward, Ted. “The Vietnam of Computer Science” Ted Neward's Blog , 26 June 2006, http://blogs.tedneward.com/post/the-vietnam-of-computer-science/.</li>
                <li>Swales, John. “The Concept of a Discourse Community.” 
                    Writing about Writing: A College Reader. 2 nd ed. Ed. Elizabeth Wardle and Doug Downs. Boston: Bedford/St. Martin's, 2014. 217-228. Print.</li>
            </ul>
        </div>
    </section>
</div>