body {
    background-color: #fff;
    color:black;
    margin:0 5% 5% 5%;
}

.project {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5) !important;
    transition: 0.2s;
    margin:2%;
    background-color: #444;
    color:white;
    height:100%;
    padding:2%;
    min-height:300px;
}
.project:hover {
    box-shadow: 0 9px 8px 0 rgba(0,0,0,0.5) !important;
    transition: 0.2s;
    margin: 18px;
    background-color: #555;
}

.project a{
    padding:3%;
    color:white;
    background-color: black; 
    display: block;
    height:20%;
    margin: 10% auto 0 auto;
    width:40%;
    margin-top: 10%;
}
.project a:hover {
    color:white;
    background-color: #777;
    font-weight: normal;
}

.project-container {
    text-align: center;
    margin:auto;
    display:block;
    margin-left: 20%;
}
#experience {   
    padding: 4% 5%; 
    background-color: #555;
    color:white
}
#experience div>ul>li > p {
    padding-left:2%;
}
#main {
    width:100%;
    padding-right: 0;
    padding-left: 0;
    
}
.shadow {
    box-shadow: 1px 1px 3px 2px #666;
}
#header h1 {
    color: black;
}
h1,h2,h3 {
    font-family: Graduate;
}
h4,h5,h6,p,a,li {
    font-family: Roboto;
}
h1 {
    font-size: 30pt;
}
h2 {
    font-size: 25pt;
    margin-bottom: 2%;
}
h3 {
    font-size: 25pt;
}
h4 {
    font-size: 18pt;
    font-weight: bolder;
}
h5 {
    font-size:20pt;
    font-weight: bolder;
}
h5 {
    font-size:20pt;
    font-weight: bolder;
}
p,li {
    font-size: 14pt;
}

a {
    color:rgb(0, 0, 192);
}
a:hover {
    font-weight: bold;
    color:rgb(30, 30, 255);
    text-decoration: none;
}

.portrait {
    max-height: 350px;
    max-width:100%;
    float:right;
}

.p-block {
    margin-left: 1%;
    padding: 1% 2% 1% 2%;
    border-left:solid 3px #606060;
}

#about-me {
    width:100%;
    padding: 2% 0%;
    margin-top:-20px;
    margin-right: -30px;
    background-color: #555;
    color:white;
}
#project-showcase {
    padding: 4% 5%; 
}
#project-showcase h2{
    text-align: center;
}
#hero-textbox .p-block {
    border-color: #0000EE;
}

#my-skills {
    padding: 4% 5%;
}

#my-skills > h2 {
    padding-bottom: 1%;
    border-bottom: solid brown;
    padding-left: 2%;
    margin-left: -2%;
}
#experience > h2 {
    padding-bottom: 1%;
    border-bottom: solid rgb(255, 78, 78);
    padding-left: 2%;
    margin-left: -2%;
}
div > ul > li {
    list-style: none;
}

#header {
    text-align: center;
    width:100vw;
    margin-left:-5%;
}
#header .container{
    display: flex;
}
#header .navbar-collapse{
    margin:auto;
}